   
 code {
  background: #2db34a;
  border-radius: 6px;
  color: #fff;
  display: block;
  font: 14px/24px "Source Code Pro", Inconsolata, "Lucida Console", Terminal, "Courier New", Courier;
  padding: 24px 15px;
  text-align: center;
}
header,
section, {
  margin: 0 1.5% 24px 1.5%;
}
footer {
  margin-bottom: 0;
}


				#form{
					margin-left: 500px;
				    max-width: 500px;
				    padding: 20px 12px 10px 20px;
				    font: 13px Arial, Helvetica, sans-serif;
				}
				.heading{
				    font-weight: bold;
				    font-style: italic;
				    border-bottom: 2px solid #ddd;
				    margin-bottom: 20px;
				    font-size: 15px;
				    padding-bottom: 3px;
				}
				#form label{
				    display: block;
				    margin: 0px 0px 15px 0px;
				}
				#form label > span{
				    width: 100px;
				    font-weight: bold;
				    float: left;
				    padding-top: 8px;
				    padding-right: 5px;
				}
				#form span.name{
				    color:red;
				}
				#form input.input{
				    width: 48%;
				    
				}

				#form input .input,   
				#form .text, 
				 #form .place{
				    box-sizing: border-box;
				    -webkit-box-sizing: border-box;
				    -moz-box-sizing: border-box;
				    border: 1px solid #C2C2C2;
				    box-shadow: 1px 1px 4px #EBEBEB;
				    -moz-box-shadow: 1px 1px 4px #EBEBEB;
				    -webkit-box-shadow: 1px 1px 4px #EBEBEB;
				    border-radius: 3px;
				    -webkit-border-radius: 3px;
				    -moz-border-radius: 3px;
				    padding: 7px;
				    outline: none;
				}
				#form .input:focus, 
				#form .text:focus,  
				#form .option:focus{
				    border: 1px solid #0C0;
				}
				#form .text{
				    height:100px;
				    width: 55%;
				}
				#form input[type=submit],
				#form input[type=button]{
				    border: none;
				    padding: 8px 15px 8px 15px;
				    background: #FF8500;
				    color: #fff;
				    box-shadow: 1px 1px 4px #DADADA;
				    -moz-box-shadow: 1px 1px 4px #DADADA;
				    -webkit-box-shadow: 1px 1px 4px #DADADA;
				    border-radius: 3px;
				    -webkit-border-radius: 3px;
				    -moz-border-radius: 3px;
				}
				#form input[type=submit]:hover,
				#form input[type=button]:hover{
				    background: #EA7B00;
				    color: #fff;
				}

				.alert{
  text-align: center;
  padding:10px;
  background:#79c879;
  color:#fff;
  margin-bottom:10px;
  display:none;
}

  